body {
    background-color: lightgray;
}

.jumbotron-fluid {
    background-color: salmon;
}

.display-4, .lead, .form-group, .btn {
    color: mediumslateblue;
}

form {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.box{
    background-color: salmon;
    margin: 5px auto;
    width: 300px;
    height: 20px;
    float: left;
  }

.button {
    background-color: black;
}

.card {
    background-color: salmon;
    width: 300px;
    height: 200px;
    float: left;  
}